@import "colors";
@import "utilities";
@import "font";

.deleteButton, .addSecret{
    @include buttoncorners(3px);
    background-color: $backgroundblue;
    color: $whitebackground;
    font-family: $primaryfont;
    font-size: 14px;
    margin: 20px 0px;
}