@import "utilities";
@import "colors";
  
.login{
  border: 1px solid black;
  width: 60%;
  text-align: center;
  background-color: $primarybackground;  
  @include setcenter;
  label, input{
    padding: 10px 10px 10px 0;
    display: inline-block;
  }
  .login{
    position: relative;
    width: 10em;
    :hover{
      color: magenta;
    }
  }
}
  